.section__button{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.button{
    width: 150px;
    height: 70px;

    border-radius: 30px;
    border: none;

    font-size: 20px;

    cursor: pointer;
    margin: 0 50px;
}